<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Financial Intelligence Test Suite" parallel="tests" thread-count="1">
    
    <test name="API Regression Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="staging"/>
        <classes>
            <class name="com.infinium.runners.TestRunner"/>
        </classes>
    </test>
    
    <listeners>
        <listener class-name="com.infinium.listeners.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
</suite>
